@import url("https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700");
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul,
pre {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
}

body {
  background-color: #345;
  background-image: linear-gradient(to bottom, #0009, transparent);
  color: #eee;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  padding: 0 20px;
  box-sizing: border-box;
}
code {
  background: #fff1;
  font-family: "Inconsolata", monospace;
  padding: 0.2em 0.4em;
}

.content {
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #666;
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 20px auto;
  margin-top: 80px;
  padding: 20px;
  width: 550px;  
}
.content ul {
  margin: 0.5em 2em;
  padding: 0;
}

#footer {
  background-color: #246c;
  background-image: linear-gradient(to bottom, transparent, #0009);
  border-top: 1px solid #fff3;
  box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
  overflow: hidden;
  padding: 8px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9001;
}
#footer a {
  color: #85c6f6;
  padding: 1em 0;
  text-decoration: none;
}
#footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 2em;
  font-weight: 300;
}
#footer ul li {
  padding: 0 0.5em;
}

/* Appearance */
.links {
  background-color: #123;
  background-image: linear-gradient(to bottom, #0003, transparent);
  border-bottom: 1px solid #0003;
  box-shadow: 0 0 32px #0003;
  font-size: 2em;
  font-weight: 300;
  

}
.links > a {
  color: #9ab;
  padding: 0.75em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}
.links > a:hover {
  background: #ffffff06;
  color: #adf;
}
.links > .line {
  background: #68a;
  height: 1px;
  pointer-events: none;
}

/* The Magic */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.links {
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  position: relative;
}
.links > .line {
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
  width: var(--width, calc(100% / var(--items)));
  --index: 0;
}
.links > a:hover ~ .line {
  opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line {
  --index: 1;
}
.links > a:nth-of-type(2):hover ~ .line {
  --index: 2;
}
.links > a:nth-of-type(3):hover ~ .line {
  --index: 3;
}
.links > a:nth-of-type(4):hover ~ .line {
  --index: 4;
}
.links > a:nth-of-type(5):hover ~ .line {
  --index: 5;
}
.links > a:nth-of-type(6):hover ~ .line {
  --index: 6;
}
.links > a:nth-of-type(7):hover ~ .line {
  --index: 7;
}
.links > a:nth-of-type(8):hover ~ .line {
  --index: 8;
}
.links > a:nth-of-type(9):hover ~ .line {
  --index: 9;
}
.links > a:nth-of-type(10):hover ~ .line {
  --index: 10;
}
.links > a:last-of-type:hover ~ .line {
  --index: var(--items);
}
/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/

body {
  background-color: #fdf1ec;
}
.product {
  margin-top: 50px;
  height: 400px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 654px;
  margin: 20px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: "Bentham", serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: "Trocchi", serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}
